@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes animate-bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100vh) scale(1.2);
    opacity: 0;
  }
}